{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"
          rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-header rounded box-shadow">
      <h1>{{ title }}</h1>
    </div>

    <div class="align-items-center p-3 my-3 bg-content rounded box-shadow">
      {{ wtf.quick_form(form, form_type="horizontal") }}
    </div>

{% endblock %}

{% block scripts %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js">
  </script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#start_date, #end_date').datepicker({
          format: "dd/mm/yyyy",
          todayHighlight: true
      });
    });
  </script>

{% endblock %}
