{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-header rounded box-shadow">
      <h1>Encuestas realizadas</h1>
    </div>

    <div class="alert alert-primary">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                Fraccionamiento
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"
                    href="{{ url_for("account_surveys") }}">
                    Todos
                </a>

                <div class="dropdown-divider"></div>
                {% for item in filter_list %}
                  <a class="dropdown-item"
                      href="{{ url_for("account_surveys", filter=item.name) }}">
                      {{ item.name }}
                  </a>
                {% endfor %}
              </div>
            </li>
          </ul>

        </div>
      </nav>
    </div>

    {% if pagination %}
        {{ macros.pagination_widget_dict(pagination, 'account_surveys', dictionary) }}
    {% endif %}

    <div class="table-responsive-lg">
    <table class="table table-hover table-sm">
    <thead>
        <tr>
          <th scope="col">Cliente</th>
          <th scope="col">Fraccionamiento</th>
          <th scope="col">Fecha</th>
          <th scope="col">Edad</th>
          <th scope="col">Procedencia</th>
          <th scope="col">Comentarios</th>
          <th scope="col">Realizo</th>
        </tr>
    </thead>
    <tbody>
    {% for survey in pagination.items %}
    <tr>
       <td>
            {% if survey.account %}
                <a href="{{ url_for('account', id=survey.account.id, nav='survey') }}">
                    {{ survey.account.name }}
                </a>
            {% endif %}
        </td>
        <td>
            {% if survey.complex %}
                <a href="{{ url_for('hcomplex_detail', id=survey.complex.id) }}">
                    {{ survey.complex.name }}
                </a>
            {% endif %}
        </td>
        <td>{{ survey.timestamp.strftime("%d/%m/%Y") }}</td>
        <td>{{ survey.age }}</td>
        <td>{{ survey.location }}</td>
        <td>{{ survey.comments }}</td>
        <td>
            {% if survey.account.user %}
                <a href="{{ url_for('user', id=survey.account.user.id) }}">
                    {{ survey.account.user.name }}
                </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>
    </div>

{% if pagination %}
  {{ macros.pagination_widget_dict(pagination, 'account_surveys', dictionary) }}
{% endif %}

{% endblock %}
