{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-header rounded box-shadow">
      <h1>{{ user.name }}</h1>
    </div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link
                  {% if dictionary['nav'] == 'details' %} active {% endif %}"
            href="{{ url_for('user', id=user.id, nav="details") }}">
              Detalles
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link
                  {% if dictionary['nav'] == 'activities' %} active {% endif %}"
            href="{{ url_for('user', id=user.id, nav="activities") }}">
              Seguimiento
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link
                  {% if dictionary['nav'] == 'houses' %} active {% endif %}"
            href="{{ url_for('user', id=user.id, nav="houses") }}">
              Casas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link
                  {% if dictionary['nav'] == 'clients' %} active {% endif %}"
            href="{{ url_for('user', id=user.id, nav="clients") }}">
              Clientes
        </a>
      </li>
    </ul>

    {% if dictionary["nav"] == "details" %}
      <p class="text-center"><strong>Detalles de usuario</strong></p>
      <div class="align-items-center bg-content rounded box-shadow">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Nombre</th>
              <td>{{ user.name }}</td>
            </tr>
            <tr>
              <th scope="row">Usuario</th>
              <td>{{ user.username }}</td>
            </tr>
            <tr>
              <th scope="row">Correo</th>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <th scope="row">Telefono</th>
              <td>{{ user.phone }}</td>
            </tr>
            <tr>
              <th scope="row">Ubicación</th>
              <td>{{ user.location }}</td>
            </tr>
            {% if user.id == current_user.id or current_user.is_administrator() %}
            <tr>
              <th scope="row">
                <a class="btn btn-primary"
                    href="{{ url_for("modify_user", id=user.id) }}"
                    role="button">Editar
                </a>
              </th>
              <td></td>
            </tr>
            {% endif %}
          </tbody>
      </table>
      </div>
    {% elif dictionary["nav"] == "activities" %}
      <p class="text-center"><strong>Actividades registradas</strong></p>

      <div class="alert alert-primary">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                  Filtrar
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item"
                      href="{{ url_for('user', id=user.id, nav='activities', filter='all') }}">
                      Todas
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item"
                      href="{{ url_for('user', id=user.id, nav='activities', filter='today') }}">
                      Hoy
                  </a>
                  <a class="dropdown-item"
                      href="{{ url_for('user', id=user.id, nav='activities', filter='old') }}">
                      Vencidas
                  </a>

                </div>
              </li>
            </ul>

          </div>
        </nav>
      </div>

      <table class="table">
        <tbody>
          {% for activity in pagination.items %}
            <tr>
              <td>

                <div class="title-area">
                  <div class="btn-group dropup">
                    <button type="button"
                            class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown"
                            aria-expanded="false">
                      {{ activity.title}}
                      <small>
                        ({{ activity.account.name }})
                        ({{ activity.start_date.strftime("%d/%m/%Y") }})
                        ({{ activity.type.name }})
                      </small>
                    </button>

                    <ul class="dropdown-menu ul-drp" role="menu">
                      <li class="li-drp">
                        <a class="dropdown-item"
                            data-toggle="collapse"
                            href="#c-{{ activity.id }}"
                            role="button"
                            aria-expanded="false"
                            aria-controls="collapseExample">
                            Detalles
                        </a>
                      </li>
                      <li class="li-drp">
                        <a class="dropdown-item"
                            href="{{ url_for("account_activity", id=activity.id) }} ">
                            Ir a actividad
                        </a>
                      </li>
                    </ul>
                  </div>
                  </br>

                  <div class="card">
                    <div class="card-body">
                      {{ activity.body }}
                    </div>
                  </div>
                </div>

                <div class="table-area">
                  <div class="collapse" id="c-{{ activity.id }}">
                      <strong>
                        Responsable: {{ activity.responsable.name }}
                        <small>(
                        {% if activity.completed %}
                          Completada
                        {% else %}
                            Sin completar
                        {% endif %}
                        )
                        (Creador: {{ activity.creator.name }})
                        </small>
                      </strong>

                      <table class="table table-striped">
                        <tr>
                            <td>Creada</td>
                            <td>
                                {{ activity.timestamp.strftime("%d/%m/%Y") }}
                            </td>
                        </tr>
                        <tr>
                            <td>Inicio</td>
                            <td>
                                {{ activity.start_date.strftime("%d/%m/%Y") }}
                            </td>
                        </tr>
                        <tr>
                            <td>Final</td>
                            <td>
                                {{ activity.end_date.strftime("%d/%m/%Y") }}
                            </td>
                        </tr>
                      </table>
                  </div>
                </div>

              </td>
            </tr>

          {% endfor %}
        </tbody>
      </table>

      {% elif dictionary["nav"] == "clients" %}
      <p class="text-center"><strong>Clientes registrados</strong></p>
        <div class="table-responsive-lg">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Credito</th>
                </tr>
            </thead>
            <tbody>
          {% for account in pagination.items %}
            <tr>
               <td>
                    <a href="{{ url_for('account', id=account.id) }}">
                        {{ account.name }}
                    </a>
                </td>
                <td>{{ account.phone }}</td>
                <td>{{ account.correo }}</td>
                <td>
                    {% if account.type %}
                        {{ account.type.name }}
                    {% endif %}
                </td>
                <td>
                    {% if account.credit %}
                        {{ account.credit.name }}
                    {% endif %}
                </td>
            </tr>
          {% endfor %}
        </table>
        </div>

      {% elif dictionary["nav"] == "houses" %}
      <p class="text-center"><strong>Casas asignadas</strong></p>
        <div class="table-responsive-lg">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                  <th scope="col">Casa</th>
                  <th scope="col">Fraccionamiento</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Dueño</th>
                </tr>
            </thead>
            <tbody>
          {% for house in pagination.items %}
            <tr>
               <td>
                    <a href="{{ url_for('house_detail', id=house.id) }}">
                        {{ house.name }}
                    </a>
                </td>
                <td>
                    {% if house.complex %}
                        <a href="{{ url_for('hcomplex_detail', id=house.complex.id) }}">
                            {{ house.complex.name }}
                        </a>
                    {% endif %}
                </td>
                <td>${{ "{:,}".format(house.price) }}</td>
                <td>{{ house.status.name }}</td>
                <td>
                    {% if house.account %}
                        <a href="{{ url_for('account', id=house.account.id) }}">
                            {{ house.account.name }}
                        </a>
                    {% endif %}
                </td>
            </tr>
          {% endfor %}
        </table>
        </div>

    {% endif %}

{% if pagination %}
  {{ macros.pagination_widget_dict(pagination, 'user', dictionary) }}
{% endif %}

{% endblock %}
