{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-header rounded box-shadow">
      <h1>Usuarios</h1>
    </div>

    <div class="alert alert-primary">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% if current_user.is_administrator() %}
            <li class="nav-item active">
              <a class="nav-link"
                  href="{{ url_for("new_admin") }}"
                  role="button">
                  Nuevo usuario
              </a>
            </li>
            {% endif %}
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                Filtrar tipo
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"
                    href="{{ url_for('users') }}">
                    Todos
                </a>
                <div class="dropdown-divider"></div>
                {% for item in filter_list %}
                  <a class="dropdown-item"
                      href="{{ url_for('users', filter=item.name) }}">
                      {{ item.name }}
                  </a>
                {% endfor %}
              </div>
            </li>
          </ul>
          {{ wtf.quick_form(form, form_type='inline') }}
        </div>
      </nav>
    </div>

    <div class="align-items-center bg-content rounded box-shadow">
      <div class="table-responsive-lg">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
            <th scope="col">Tipo</th>
          </tr>
        </thead>

        <tbody>
          {% for user in users %}
            <tr>
              <td>

                <div class="btn-group dropup">
                  <button type="button"
                          class="btn btn-secondary dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false">
                    {{ user.username }}
                  </button>

                  <ul class="dropdown-menu ul-drp" role="menu">
                    <li class="li-drp">
                      <a class="dropdown-item"
                          href="{{ url_for("user", id=user.id) }}"
                          role="button">Ver detalles</a>
                    </li>
                    {% if current_user.is_administrator() %}
                    <li class="li-drp">
                      <a class="dropdown-item"
                          href="{{ url_for("modify_admin", id=user.id) }}"
                          role="button">Modificar</a>
                    </li>
                    <li class="li-drp">
                      <a class="dropdown-item"
                          href="{{ url_for("password_admin", id=user.id) }}"
                          role="button">Reset password</a>
                    </li>
                    <li class="li-drp">
                      <a class="dropdown-item"
                          href="#"
                          data-toggle="modal"
                          data-target="#myModal{{ user.id }}">Borrar</a>
                    </li>
                    {% endif %}
                  </ul>
                </div>

                {% if current_user.is_administrator() %}
                <div class="modal fade" id="myModal{{ user.id }}" tabindex="-1"
                      role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title"
                            id="modalLongTitle{{ user.id }}">Eliminar "{{ user.username }}"</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Los cambios no podran ser recuperados
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <a class="btn btn-danger"
                            href="{{ url_for("delete_admin", id=user.id) }}"
                            role="button">
                            Borrar
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}

              </td>

              <td>{{ user.name }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>

    {% if pagination %}
      {{ macros.pagination_widget_dict(pagination, 'users', dictionary) }}
    {% endif %}
{% endblock %}
